@import "../../vars.scss";

.cartCard{
	max-width: $wM;
	// !!
	img{
		height: 60px;
		width: 100px !important;
		border-radius: $borderRadiusMedium;
		width: auto;
	}
}

.orderCard{
	// !! hide all (svg) icons in CartCard: .cartCard => with icons; .orderCard => NO icons
	svg{
		display: none;
	}
}