@import "../../vars.scss";

.cartCard{
	max-width: $wM;
	// !!
	img{
		height: 60px;
		width: 100px !important;
		border-radius: $borderRadiusMedium;
		width: auto;
		@media (max-width:$mobile) {
			width: 100% !important;
			height: auto;
		}
	}
}

.orderCard{
	// !! hide all (svg) icons in CartCard: .cartCard => with icons; .orderCard => NO icons
	svg{
		display: none;
	}
}

// ! CartSteps
.line{
	$width: 140px;
	height: 2px;
	background: $gray;
	&__small{
		width: $width;
	}
	&__big{
		width: $width * 2;
	}
}
.round{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: $gray;
}