@import "../../vars.scss";

.cartCard{
	max-width: $wM;
	// !!
	img{
		height: 60px;
		width: 100px !important;
		border-radius: $borderRadiusMedium;
		width: auto;
		@media (max-width:$mobile) {
			width: 100% !important;
			height: auto;
		}
	}
}

.hideSvg{
	svg{
		display: none;
	}
}

// ! CartSteps
.line{
	$width: 5.5%;
	height: 2px;
	&__small{
		width: $width;
	}
	&__big{
		width: $width * 2;
	}
}
.round{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.cartStep{
	position: relative;
	&__text{
		position: absolute;
		top: 40px;
		width: 200px; // !! text goes to next line if much text: can look bad
		text-align: center;
	}
}