// !! mui tags background
.MuiInputBase-root.MuiFilledInput-root{
	background: white;
	padding: 8px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	&::before{
		border-bottom: none !important;
	}
}

.icon_add{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 30px;
	margin: 15px 0;
}