// !! mui tags background
.MuiInputBase-root.MuiFilledInput-root{
	background: white;
	padding: 8px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	&::before{
		border-bottom: none !important;
	}
}

// !! mui select label text, to be under product full image zoom hint
.MuiFormLabel-root.MuiInputLabel-root{
	z-index: 0;
}