// !! use if no special className used: eg: .cartCard
.cp{
	cursor: pointer;
}

// !!
header, .card{
	svg, img{
		cursor: pointer;
		// &:hover{
		// 	filter: contrast(70%);
		// }
	}
}

.cartCard{
	// cartCard icons
	svg{
		cursor: pointer;
	}
}

.scrollableArea{
	cursor: grab;
	* {
		cursor: grab;
	}
}

// !! cards
.card, .cartCard, .orderCard{
	&:hover{
		box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.15);
		cursor: pointer;
	}
}

.category{
	cursor: pointer;
}