// !! use if no special className used: eg: .cartCard
.cp{
	cursor: pointer;
}

// !!
header, .card{
	svg, img{
		cursor: pointer;
		// &:hover{
		// 	filter: contrast(70%);
		// }
	}
}

.cartCard{
	// cartCard icons
	svg{
		cursor: pointer;
	}
}