@import "./vars.scss";
@import "./shortcuts.scss";
@import "./hovers.scss";
@import "./animations.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

// ! GLOBAL

// TODO * {} NOT body
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: $appBg;
	font-family: "Montserrat", sans-serif;
}

a{
	color: $white; // TODO
	text-decoration: none;
}

section{
	background: $white;
	padding: 15px;
	border-radius: $borderRadiusLarge;
	// !!
	img {
		width: 100%;
	}
}

input:disabled{
	font-weight: 700;
}

// MUI buttons style by default
.MuiButtonBase-root.MuiButton-root{
	display: block;
	margin: 0 auto;
	border-radius: $borderRadiusLarge;
	// contained
	&.MuiButton-contained{
		background: $brand;
	}
	// outlined
	&.MuiButton-outlined{
		color: $brand;
		border: 1px solid $brand;
	}
}

// MUI TextField(input) style by default
.MuiFormControl-root.MuiTextField-root{
	width: 100%;
}