.dark{
	background: $dark100;
	color: $white;
	*:not(.tab_active,button,.star-svg,.filled-icons,path) {
		color: $white !important;
	}
	svg:not(.star-svg){
		fill: $white;
	}
	input,textarea{
		// background: $dark300 !important;
		color: $white !important;
		border-color: $white !important;
	}
	option,.cartReminder,input[type="search"]{
		background: $dark300 !important;
	}
	.card,.cartCard,.CodeMirror,.subTotal{
		background: $dark200;
	}
	.filter{
		border-color: $white;
	}
	section{
		background: $dark200;
	}
	.line,.round{
		background: $white;
		color: $black !important;
	}
	// !! cards' hovers
	.card, .cartCard, .orderCard{
		&:hover{
			box-shadow: 0px 10px 15px -3px rgba(182, 182, 182, 0.15);
		}
	}
	// mui input disabled
	.MuiInputBase-input.MuiInput-input.Mui-disabled{
		-webkit-text-fill-color: $grayLight;
	}
}

// ! light
.light{
	.card,.cartCard,.CodeMirror,.subTotal,section,.cartReminder{
		background: $white;
	}
	.line,.round{
		background: $grayLight;
	}
	// mui input disabled
	.MuiInputBase-input.MuiInput-input.Mui-disabled{
		-webkit-text-fill-color: $gray;
	}
}

// ! other
// mui dialog
.darkDialog{
	.MuiDialog-container.MuiDialog-scrollPaper{
		.MuiPaper-root{
			background: $dark300 !important;
		}
	}
	// !!
	* {
		color: $white;
	}
}

// ! mui drawer (HeaderDrawer)
.MuiDrawer-root.MuiDrawer-modal.darkDrawer{
	.MuiPaper-root{
		background: $dark300 !important;
	}
	// !!
	* {
		color: $white;
	}
}