// color
$black: #131313;
$white: #fff;
$brand: #673BD9;
$appBg: #F2F2F2;
$gray: #E3E3E3;
$danger: tomato;
$dark800: #222;
// width
$wS: 330px; // 360p mobile -30px padding
$wM: 675px;
$wL: 1100px;
// breakpoints
$mobile: 576px;
// other
$borderRadiusLarge: 20px;
$borderRadiusMedium: 10px;
$borderRadiusSmall: 5px;